<!-- INICIO DO FOOTER  -->
<footer class="footer footer-horizontal footer-center bg-primary text-primary-content p-10">
  <div>
    <i class="bi bi-cup-hot-fill text-4xl"></i>
    <p class="font-bold">
      CAFÉ COM PÃO
    </p>
  </div>
  <div class="w-full border-t-2 border-secondary pt-4">
    <div class="text-4xl flex gap-10 mb-4">
      <a href=""><i class="bi bi-instagram"></i></a>
      <a href=""><i class="bi bi-facebook"></i></a>
      <a href=""><i class="bi bi-whatsapp"></i></a>
    </div>
    <p>Copyright - Ribeirão Preto</p>
  </div>
</footer>
<!-- FIM DO FOOTER -->